@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: Montserrat;
}

.site-container {
  @apply px-3 md:px-6 lg:px-[125px];
}
